.Join-container {
  margin: 0 1em;
  animation: growAndFadeIn 0.3s cubic-bezier(.27,.11,.38,.97);
}

.Join-header {
  width: 100%;
  margin: 1em 0;
}
  .Join-header h1 {
    text-align: center;
    margin: 0;
  }

.Join-footer {
  margin: auto;
  max-width: 300px;
}

#joinForm {
  margin: auto;
  padding: 1em;
  max-width: 360px;
}

#partyCodeLabel, #nameLabel {
  width: 100%;
}

#partyCodeInput, #nameInput {
  height: 40px;
  font-size: 24px;
  font-weight: 600;
}

#joinBtn {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  border-radius: 7px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}