.Join-container {
  animation: slideInFromLeft 0.5s cubic-bezier(.27,.11,.38,.97);
}

.Join-header {
  width: 100%;
  margin: 1em 0;
}
  .Join-header h1 {
    text-align: center;
    margin: 0;
  }

#joinForm {
  margin: auto;
  padding: 1em;
  max-width: 360px;
}

#partyCodeInput, #nameInput {
  height: 40px;
  font-size: 24px;
  font-weight: 600;
}

#joinBtn {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  border-radius: 7px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}