.QuestionOptions-container {
  width: 100%;
  height: 100%;
}

.QuestionOptions-options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  height: 100%;
  padding: 2em 1em 4em 1em;
}