.QuestionLoading-container {
  color: white;
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-top: 30vh;
  animation: popIn 1s;
}

.spinner-custom {
  width: 4em;
  height: 4em;
  animation-duration: 2s;
  border-width: 0.8em;
}